<!DOCTYPE html>
<html>
  <head>
    <title>Hei FINN FINN</title>
    <link rel="stylesheet" href="screen.css">
  </head>
  <body>
    <h1>
      <img src="hellocthulhu-right.png">
      HELLO FINN
      <img src="hellocthulhu-left.png">
    </h1>
    <ul>
      <% docs.forEach(function(doc) { %>
      <li class="<%= doc.done ? 'done' : 'open' %>">
        <form method="post" action="/delete/<%= doc.id %>">
          <input class="delete" type="submit" value="<%= '\u267b' %>">
        </form>
        <form method="post" action="/done/<%= doc.id %>">
          <input class="check" type="submit" value="<%= doc.done ? '\u2611' : '\u2610' %>">
        </form>
        <span><%= doc.todo %></span>
      </li>
      <% }) %>
    </ul>
    <form method="post" action="/new">
      <input type="text" name="todo">
    </form>
    <script type="text/javascript">document.querySelector("input[type=text]").focus()</script>
  </body>
</html>
