<!DOCTYPE html>
<html>
  <head>
    <title>My marquee infested Todo List</title>
    <link rel="stylesheet" href="screen.css">
  </head>
  <body>
    <h1>
		
	<marquee scrollamount="15" direction="up" behavior="alternate"><marquee scrollamount="15" direction="right" behavior="alternate">
	<marquee scrollamount="15" direction="left" behavior="alternate"><marquee scrollamount="15" direction="right" behavior="alternate">
		<img src="hellocthulhu-right.png">
		</marquee></marquee>
      
      <marquee scrollamount="15" direction="up" behavior="alternate"><marquee scrollamount="15" direction="right" behavior="alternate">HELLO!</marquee></marquee>
<marquee scrollamount="15" direction="up" behavior="alternate"><marquee scrollamount="15" direction="right" behavior="alternate">      
<img src="hellocthulhu-left.png">
	</marquee></marquee>
		</marquee></marquee>
    </h1>
    <ul>
      <% docs.forEach(function(doc) { %>
      <li class="<%= doc.done ? 'done' : 'open' %>">
        <form method="post" action="/delete/<%= doc.id %>">
          <input class="delete" type="submit" value="<%= '\u267b' %>">
        </form>
        <form method="post" action="/done/<%= doc.id %>">
		
          <input class="check" type="submit" value="<%= doc.done ? '\u2611' : '\u2610' %>">
        
		</form>
        <span><%= doc.todo %></span>
      </li>
      <% }) %>
    </ul>
    <form method="post" action="/new">
      <input type="text" name="todo">
    </form>
    <script type="text/javascript">document.querySelector("input[type=text]").focus()</script>
  </body>
</html>
